body {
    background: linear-gradient(135deg, hwb(342 10% 0%) 10%, #ff095b 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
    padding: 0 2rem;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.converter-container {
    background: #fff;
    padding: 2rem;
    border-radius: 50px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width:500px;
    max-height: 70%; 
    
}

h2 {
    color: #f539ad;
    margin-bottom: 1rem;
}

.form-group {
    width: 100%;
    margin-bottom: 1.5rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-control, .form-select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.btn {
    background: #f75fc9;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #f39bce;
}

.custom-button {
    width: 100%;
    margin-bottom: 1rem;
}

#result {
    background: #f9f9f9;
    color: #333;
}
